.container-banner {
    background-image: url("../assets/banner2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 338px;
    mix-blend-mode: multiply;
}