@import url('./cabecalho.css');

:root {
    --roxo: #4650BD;
    --branco: #FFFFFF;
}

body {
    color: var(--branco);
    background: linear-gradient(180deg, #304968 0%, #36C1A0 52.6%, #4650BD 100%);
    background-repeat: no-repeat;
}