h2 {
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    margin: 1em;
}

.ingresso {
    background: linear-gradient(180deg, #304968 0%, #36C1A0 52.6%, #4650BD 100%);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
    width: 80%;
    padding: 1em;
    margin: 0 auto;
    text-align: center;
}

.ingresso__cabecalho {
    display: flex;
    justify-content: space-between;
}

.ingresso h3 {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
}

.ingresso p {
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
}


@media screen and (min-width: 1440px) {
    .ingresso {
        width: 50%;
        text-align: initial;
        padding: 2em;
    }

    .ingresso__descricao {
        display: flex;
    }
}