.container {
    text-align: center;
    margin: 5% 10%;
}

.container img {
    width: 90%;
    object-fit: cover;
    border-radius: 16px;
    margin-bottom: 3em;
    height: 381px;
}

.container p {
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
}

.container h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
}

@media screen and (min-width: 1440px) {

    .container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        text-align: left;
    }

    .container img {
        width: 609px;
        margin-right: 20px;
    }

    .reverso {
        flex-direction: row-reverse;
        text-align: right;
    }

    .reverso img {
        margin-left: 20px;
    }
}